# Next.js build output
.next
out

# Environment variables
.env
.env.local
.env.development
.env.production

# Node modules
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor specific
.DS_Store
.vscode

# Prisma artifacts
prisma/dev.db
prisma/migrations/

# Optional: ignore compiled TypeScript cache if you use it
*.tsbuildinfo
